.regex_groups .regex-group-item {
    display: flex;
    flex-direction: row;
    gap: 3px;
    border: 1px solid var(--SmartThemeBorderColor);
    border-radius: 6px;
    padding: 6px;
    margin: 6px 0;
    background: var(--SmartThemeBodyColor);
}

.flex-container {
    width: 100%;
}

.regex_groups .group-actions {
    display: flex;
    gap: 6px;
    align-items: center
}

.regex_groups .group-scripts {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex-wrap: wrap
}

.regex_groups .regex-chip {
    display: flex;
    gap: 6px;
    align-items: center;
    border: 1px dashed var(--SmartThemeBorderColor);
    padding: 4px 6px;
    border-radius: 6px
}

.regex_groups .group-name {
    min-width: 200px
}

.chip-text {
    color: #fff;
}

.regex-groups .regex-group-item .group-name {
    flex: 1;
    height: 24px;
}